body {
    background-image: linear-gradient(hsl(228, 26%, 19%), hsl(228, 26%, 19%));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
ul {
    list-style: none;
    padding: 0;
}

#logo-stamp{
    position: relative;
    margin: 0;
    top: 40px;
    z-index: 1;
}
#logo-stamp object {
    width: 80px;
}

section.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* filter: blur(); */
}

#form-content {
    border: 8px double hsl(214, 9%, 28%);
    border-radius: 4px;
    backdrop-filter: blur(20px);
    background-color: hsla(0, 0%, 0%, 0.15);
    padding: 45px;
    max-width: 40%;
}
#form-content h1 {
    color: hsl(47, 100%, 50%);
    font-size: 44px;
    margin: 16px 0 8px 0;
}
#form-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}
#form-content ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
}
#form-content button {
    font-size: 22px;
    padding: 8px 20px;
    width: fit-content;
}

.questions li {
    margin: 16px 0 0 0;
}
.questions label {
    color: whitesmoke;
    font-size: 20px;
}
.questions input {
    font-size: 20px;
    padding: 4px;
    border-style: solid;
    border-width: 3px;
    border-radius: 2px;
}
.questions select {
    font-size: 17px;
    padding: 4px;
    border: 0px solid hsl(232, 23%, 19%);
    border-radius: 2px;
}

.questions li>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.questions li>div::after {
    height: 16px;
    font-size: 14px;
    color: red;
}
.questions .name::after {
    content: attr(data-after-name)
}
.questions .email::after {
    content: attr(data-after-email);
}
.questions .password::after {
    content: attr(data-after-pw);
}
.questions .password-check::after {
    content: attr(data-after-pwcheck);
}
.questions .fav-album::after {
    content: attr(data-after-favalbum);
}


input:focus,
select:focus {
    outline: none;
    animation-name: yellow-pulse;
    animation-duration: 1400ms;
    animation-iteration-count: infinite;
}
input.is-valid,
select.is-valid {
    border-color: hsl(47, 100%, 50%);
}
input:not(.is-valid),
select:not(.is-valid) {
    border-color: red;
}
input:placeholder-shown {
    border-color: hsl(232, 23%, 19%);
}

button {
    font-size: 22px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: hsl(232, 23%, 19%);
}
button:disabled {
    color: hsl(0, 0%, 60%);
    border: 4px solid hsl(47, 80%, 30%);
}
button:not(:disabled) {
    color: whitesmoke;
    border: 4px outset hsl(47, 100%, 58%);
}
button:not(:disabled):hover {
    animation: button-hover 1s forwards;
}


@keyframes yellow-pulse {
    0%, 100% {
        border-color: hsl(232, 23%, 19%)
    }
    40%, 60% {
        border-color: hsl(47, 100%, 50%);
    }
}
@keyframes button-hover {
    from {
        background-color: hsl(232, 23%, 19%);
        font-size: 22;
        color: whitesmoke;        
    }
    to {
        background-color: hsl(47, 100%, 58%);
        font-size: 26px;
        color: black;        
    }
}
