body {
    background-image: linear-gradient(hsl(228, 26%, 19%), hsl(228, 26%, 19%));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

ul {
    list-style: none;
    padding: 0;
}

#logo-stamp{
    position: relative;
    margin: 0;
    top: 40px;
    z-index: 1;
}
#logo-stamp img {
    width: 80px;
}

section.main {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* filter: blur(); */
}

#form-content {
    border: 2px solid black;
    backdrop-filter: blur(20px);
    background-color: hsla(0, 0%, 0%, 0.15);
    padding: 45px;
}
#form-content form {
    display: flex;
    flex-direction: column;
}

#form-content .questions {
    display: flex;
    gap: 40px;
}

.questions li {
    margin: 16px 0;
}
.questions label {
    color: whitesmoke;
    font-size: 20px;
}
.questions input {
    font-size: 20px;
    padding: 4px;
    border-style: solid;
}

input:focus {
    outline: none;
    animation-name: yellow-pulse;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
/* input:valid {
    border-color: hsl(47, 96%, 51%);
} */
input:invalid {
    border-color: red;
}


@keyframes yellow-pulse {
    0%, 100% {
        border-color: initial;
    }
    50% {
        border-color: hsl(47, 96%, 51%);
    }
}