body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: hsl(213, 44%, 85%);
    align-items: center;
    height: 80px;
}

header img {
    height: 60px;
    width: auto;
}

header a {
    font-size: 18px;
}

.right ul {
    display: flex;
    gap: 24px;
}

.content {
    display: flex;
    flex-direction: column;
}



/* MAST */

.mast {
    background-image: url('./imgs/group-pic.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.mast,
.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mast .text-container {
    background-color: hsla(233, 13%, 37%, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 12px;
    max-width: 950px;
    text-align: center;
}

header,
.mast {
    padding: 0 15%;
}

.mast h1 {
    font-size: 54px;
    margin: 8px 0 0 0;
    color: hsl(47, 100%, 58%);
}

.mast p {
    font-size: 22px;
    color: hsl(0, 0%, 91%);
}

.mast button {
    font-size: 20px;
    padding: 8px 16px;
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
}

.mast button:hover {
    background-color: hsl(228, 26%, 19%);
    color: whitesmoke;
}


/* DEETS */

.deets {
    background-color: hsl(228, 26%, 19%);
}

.deets h1 {
    text-align: center;
    font-size: 48px;
    color: hsl(47, 100%, 58%);
}

.deets ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deets li {
    display: flex;
    width: 70%;
    align-items: center;
}

.deets .odd-li {
    justify-content: flex-start;
}
.deets .even-li {
    justify-content: flex-end;
}

.deets img {
    height: 250px;
    width: auto;
    border-radius: 4px;
    border-color:  hsl(214, 9%, 52%);
    border-width: 8px;
    border-style: double;
    
    animation-name: reversegrow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.deets img:hover {
    animation-name: grow;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

.deets p {
    color: hsl(0, 0%, 91%);
    font-size: 24px;
}

@keyframes grow {
    from {
        scale: 100%;
        border-color: hsl(214, 9%, 52%);
    }
    to {
        scale: 120%;
        border-color: hsl(47, 100%, 58%);
    }
}

@keyframes reversegrow {
    from {
        scale: 120%;
        border-color: hsl(47, 100%, 58%);
    }
    to {
        scale: 100%;
        border-color: hsl(214, 9%, 52%);
    }
}


/* QUOTES */

.quotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
    background-color:hsl(209, 35%, 76%);
    gap: 0 96px;
}

.quotes .melon {
    max-width: 70%;
}

.quotes .boys {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    padding: 24px 72px;
}

.quotes figure {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quotes blockquote {
    font-size: 28px;
    color: rgb(49, 49, 49);
    font-style: italic;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.quotes figcaption {
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* BOTTOM */

.bottom .text-container {
    background-color: hsl(233, 13%, 37%);
    margin: 48px;
    padding: 30px 48px;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 160px;
}

.bottom p {
    font-size: 24px;
    color: whitesmoke;
}

.bottom h2 {
    font-size: 40px;
    margin: 0;
    /* color: hsl(47, 100%, 58%); */
    color: whitesmoke;
}

.bottom button {
    font-size: 26px;
    padding: 16px 26px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    color: whitesmoke;
    border-color: hsl(47, 100%, 58%);
    border-width: 4px;

    animation-name: revbutton;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.bottom .right button:hover {
    animation-name: button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes button {
    from {
        background-color: rgba(255, 255, 255, 0);
        font-size: 26px;
        color: whitesmoke;
    }
    to {
        background-color: hsl(47, 100%, 58%);
        font-size: 30px;
        color: black;
    }
}

@keyframes revbutton {
    from {
        background-color: hsl(47, 100%, 58%);
        font-size: 30px;
        color: black;
    }
    to {
        background-color: rgba(255, 255, 255, 0);
        font-size: 26px;
        color: whitesmoke;
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    background-color: hsl(228, 26%, 19%);
    color: white;
    font-size: 18px;
}


